@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
:root {
    --section-color: #ececec;
    --font-color: #222831;
    --main-color: #2196f3;
    --main-transetion: 0.3s;
    --section-padding: 100px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;                       
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Cairo', sans-serif;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

.page-title {
    color: var(--font-color);
    text-align: center;
    font-size: 40px;
    margin-bottom: 100px;
    text-transform: uppercase;
}

@media (max-width: 600px) {
    .page-title {
        font-size: 32px !important;
    }
}
/*-------------------------------header start-------------------------------*/
header {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.155);
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    position: relative;
}

header .container .logo{
    color: var(--font-color);
    font-weight: bolder;
    font-size: 28px;
}

header .container .logo::before{
    content: "HSE trainer";
    position: absolute;
    font-weight: lighter;
    font-size: 18px;
    bottom: 3px
}

header .container .logo span{
    color: var(--main-color);
}

.links {
    display: flex;
    gap: 50px;
    align-items: center;
}

header .container .links ul{
    display: flex;
}

header .container .links ul a{
    display: block;
    color: var(--font-color);
    font-size: 17px;
    padding: 15px;
    transition: var(--main-transetion) color, var(--main-transetion) background-color,var(--main-transetion) padding;
    position: relative;
    display: flex;
    align-items: center;
    height: 85px;
}

header .container .links ul a::before{
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    background-color: var(--main-color);
    top: 0;
    left: 0;
    transition: var(--main-transetion) width;
}

header .container .links ul a:hover::before{
    width: 100%;
}

header .container .links ul a:hover{
    color: var(--main-color);
    background-color: #f9f9f9;
}

header .container .btn{
    color: var(--main-color);
    font-weight: 600;
    font-size: 18px;
    padding: 5px 10px;
    display: block;
    width: fit-content;
    height: fit-content;
    border: var(--main-color) 2px solid;
    box-shadow: inset 0 0 10px #00acb556, 0 0 10px #00acb556;
    transition: var(--main-transetion) background-color, var(--main-transetion) color;
}

header .container .btn.active{
    background-color: var(--main-color);
    color: var(--section-color);
}

header .container .btn:hover{
    background-color: var(--main-color);
    color: var(--section-color);
}

header .container .nav-icon{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    height: 20px;
    width: 25px;
    cursor: pointer;
}

header .container .nav-icon:hover span:nth-child(2){ 
    width: 100%;
}

header .container .nav-icon span{
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--main-color);
    box-shadow: 0 0 10px #00acb5c7;
}

header .container .nav-icon span:nth-child(2){
    width: 55%;
    transition: var(--main-transetion) width;
}
/*-------------------------------header end-------------------------------*/
/*-------------------------------landing start-------------------------------*/
.landing {
    padding-bottom: var(--section-padding);
}

.search-container {
    background: linear-gradient(30deg, rgba(33,150,243,1) 0%, rgba(24,95,152,1) 100%);
    padding: 60px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--section-padding);
}

.search-container .container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.search-container form{
    position: relative;
    width: 100%;
    max-width: 600px;
}

.search-container form input[type="search"]{
    padding: 15px;
    position: relative;
    width: 100%;
    border: 0;
    border-radius: 3px;
    font-size: 18px;
    font-weight: 300;
    color: var(--font-color);
}

.search-container form input[type="search"]:focus{
    outline: 0;
}

.search-container form button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    z-index: 50;
    color: var(--main-color);
    font-size: 20px;
    background: 0;
    border: 0;
    cursor: pointer;
}
/*-------------------------------certificate start-------------------------------*/
.certificate-container .container {
    border: 4px var(--main-color) solid;
    margin: var(--section-padding) auto 0;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    
}

.certificate-container .container.exists{
    padding-bottom: 100px;
}

.certificate {
    width: 100%;
}

.certificate-container .container i{
    color: white;
    background-color: var(--main-color);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 22px;
    margin: 0 auto 20px;
}

.certificate-container .container h1{
    margin-bottom: 50px;
}

.certificate-container .container.not-exists i{
    background-color: #f44336;
}

.certificate-container .container .user-date {
    display: flex;
    justify-content: space-between;
    padding: 0 60px;
    margin: 40px 0;
}

@media (max-width: 600px) {
    .certificate-container .container .user-date {
        flex-direction: column;
        gap: 10px;
        padding: 0 20px;
    }
}

.certificate-container .container .user-date h2{
    font-weight: 500;
}

.certificate-container .container .user-date span{
    color: var(--main-color);
    margin-left: 5px;
}

.signature {
    font-family: 'Dancing Script', cursive;
    position: absolute;
    font-size: 30px;
    color: #999;
    left: 30px;
    bottom: 30px;
}

.label {
    position: absolute;
    writing-mode: vertical-rl;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    padding: 15px 5px 30px 5px;
    font-size: 18px;
    right: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
}

.label::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-style: solid;
    border-color: transparent transparent white;
    border-width: 20px;
}
/*-------------------------------landing end-------------------------------*/